alembic==1.0.5
flake8==3.6.0
Flask==1.0.2
Flask-Cors==3.0.7
Flask-Login==0.4.1
Flask-Migrate==2.3.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
Jinja2==2.10
jupyter==1.0.0
pocketsphinx==0.1.15
PyAudio==0.2.11
pylint==1.9.3
pylint-flask==0.5
pylint-plugin-utils==0.4
pyserial==3.4
SpeechRecognition==3.8.1
SQLAlchemy==1.2.15
transitions==0.6.9
Werkzeug==0.14.1
WTForms==2.2.1
