Adafruit-GPIO==1.0.3
Adafruit-PCA9685==1.0.1
Adafruit-PureIO==0.2.3
alembic==1.0.5
astroid==1.6.6
attrs==19.1.0
backcall==0.1.0
bleach==3.1.0
Click==7.0
decorator==4.4.0
defusedxml==0.6.0
entrypoints==0.3
flake8==3.6.0
Flask==1.0.2
Flask-Cors==3.0.7
Flask-Login==0.4.1
Flask-Migrate==2.3.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
ipykernel==5.1.1
ipython==7.7.0
ipython-genutils==0.2.0
ipywidgets==7.5.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.14.1
Jinja2==2.10
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.3.1
jupyter-console==6.0.0
jupyter-core==4.5.0
lazy-object-proxy==1.4.1
Mako==1.0.14
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
nbconvert==5.5.0
nbformat==4.4.0
notebook==6.0.0
pandocfilters==1.4.2
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
playsound==1.2.2
pocketsphinx==0.1.15
prometheus-client==0.7.1
prompt-toolkit==2.0.9
ptyprocess==0.6.0
PyAudio==0.2.11
pycodestyle==2.4.0
pyflakes==2.0.0
Pygments==2.4.2
pylint==1.9.3
pylint-flask==0.5
pylint-plugin-utils==0.4
pyrsistent==0.15.4
pyserial==3.4
python-dateutil==2.8.0
python-editor==1.0.4
pyttsx3==2.71
pyzmq==18.0.2
qtconsole==4.5.2
Send2Trash==1.5.0
six==1.12.0
SpeechRecognition==3.8.1
spidev==3.4
SQLAlchemy==1.2.15
terminado==0.8.2
testpath==0.4.2
tornado==6.0.3
traitlets==4.3.2
transitions==0.6.9
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.5.0
wrapt==1.11.2
WTForms==2.2.1
google-cloud-texttospeech